<div class="flex flex-wrap">
  <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
    <baneverywhere-card-line-chart></baneverywhere-card-line-chart>
  </div>
  <div class="w-full xl:w-4/12 px-4">
    <baneverywhere-card-bar-chart></baneverywhere-card-bar-chart>
  </div>
</div>
<div class="flex flex-wrap mt-4">
  <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
    <baneverywhere-card-page-visits></baneverywhere-card-page-visits>
  </div>
  <div class="w-full xl:w-4/12 px-4">
    <baneverywhere-card-social-traffic></baneverywhere-card-social-traffic>
  </div>
</div>
